{"swagger":"2.0","info":{"version":"v1-12-0-0","title":"Serviços para o portal Concórdia"},"host":"aplicacao.itamaraty.gov.br","basePath":"/ApiConcordia","schemes":["https"],"paths":{"/Acordo/listar-assuntos":{"get":{"tags":["Acordo"],"summary":"Listar os assuntos do acordo","operationId":"Acordo_ListarAssuntos","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Acordo/listar-vigencias":{"get":{"tags":["Acordo"],"summary":"Listar as vigências do acordo","operationId":"Acordo_ListarVigencias","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Acordo/listar-envolvidos":{"get":{"tags":["Acordo"],"summary":"Listar os envolvidos do acordo","operationId":"Acordo_ListarEnvolvidos","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Acordo/listar-paises":{"get":{"tags":["Acordo"],"summary":"Listar os paises","operationId":"Acordo_ListarPaises","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Acordo/listar-local-celebracao":{"get":{"tags":["Acordo"],"summary":"Listar os paises","operationId":"Acordo_ListarLocalCelebracao","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Acordo/quantidade-acordos":{"get":{"tags":["Acordo"],"summary":"Retorna a quantidade de acordos internacionais","operationId":"Acordo_QuantidadeDeAcordosInternacionais","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Acordo/detalhar-acordo/{id}":{"get":{"tags":["Acordo"],"summary":"Detalhar acordo","operationId":"Acordo_DetalhesAcordo","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"O identificador do acordo","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Acordo/integra-acordo-html/{id}":{"get":{"tags":["Acordo"],"summary":"Versão html do acordo","operationId":"Acordo_IntegraAcordoHtml","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"O identificador do acordo","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Acordo/integra-acordo-pdf/{id}":{"get":{"tags":["Acordo"],"summary":"Versão pdf do acordo","operationId":"Acordo_IntegraAcordoPdf","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"O identificador do acordo","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Acordo/exportar-acordo":{"get":{"tags":["Acordo"],"summary":"","operationId":"Acordo_ExportarAcordo","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"tipoPesquisa","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"tituloAcordo","in":"query","description":"","required":false,"type":"string"},{"name":"textoAcordo","in":"query","description":"","required":false,"type":"string"},{"name":"idEnvolvido","in":"query","description":"","required":false,"type":"string"},{"name":"idVigencia","in":"query","description":"","required":false,"type":"string"},{"name":"idAssunto","in":"query","description":"","required":false,"type":"string"},{"name":"signatarioBrasil","in":"query","description":"","required":false,"type":"string"},{"name":"signatarioOutraParte","in":"query","description":"","required":false,"type":"string"},{"name":"pubDireta","in":"query","description":"","required":false,"type":"boolean"},{"name":"pubIndireta","in":"query","description":"","required":false,"type":"boolean"},{"name":"atosPossuiEmendas","in":"query","description":"","required":false,"type":"boolean"},{"name":"atosEmendasOutrosAtos","in":"query","description":"","required":false,"type":"boolean"},{"name":"tpData1","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"dataInicial1","in":"query","required":false,"type":"string"},{"name":"dataFinal1","in":"query","description":"","required":false,"type":"string"},{"name":"tpData2","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"dataInicial2","in":"query","required":false,"type":"string"},{"name":"dataFinal2","in":"query","description":"","required":false,"type":"string"},{"name":"tpData3","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"dataInicial3","in":"query","required":false,"type":"string"},{"name":"dataFinal3","in":"query","description":"","required":false,"type":"string"},{"name":"tpData4","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"dataInicial4","in":"query","required":false,"type":"string"},{"name":"dataFinal4","in":"query","description":"","required":false,"type":"string"},{"name":"tpDocumento1","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"dtDocInicial1","in":"query","description":"","required":false,"type":"string"},{"name":"dtDocFinal1","in":"query","description":"","required":false,"type":"string"},{"name":"numero1","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"tpDocumento2","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"dtDocInicial2","in":"query","description":"","required":false,"type":"string"},{"name":"dtDocFinal2","in":"query","description":"","required":false,"type":"string"},{"name":"numero2","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"tpDocumento3","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"dtDocInicial3","in":"query","description":"","required":false,"type":"string"},{"name":"dtDocFinal3","in":"query","description":"","required":false,"type":"string"},{"name":"numero3","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"tpDocumento4","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"dtDocInicial4","in":"query","description":"","required":false,"type":"string"},{"name":"dtDocFinal4","in":"query","description":"","required":false,"type":"string"},{"name":"numero4","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"tipoAcordo","in":"query","description":"","required":false,"type":"string"},{"name":"tamanhoPagina","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"formatoArquivo","in":"query","description":"","required":false,"type":"string","enum":["PDF","Excel","Word"]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Acordo/listar-dados-acordos":{"get":{"tags":["Acordo"],"summary":"Lista de Dados dos acordos","operationId":"Acordo_ListarDadosAcordos","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"palavraChave","in":"query","description":"Palavra-chave.","required":false,"type":"string"},{"name":"tipoAcordo","in":"query","description":"Tipo de Acordo.","required":false,"type":"string","enum":["Bilateral","Trilateral","Multilateral"]},{"name":"tpData","in":"query","description":"Tipo de Data.","required":false,"type":"string","enum":["Data_Celebracao","Data_Promulgacao","Data_Entrada_Vigor","Data_Expiracao_Prevista"]},{"name":"dtDataInicial","in":"query","description":"Data de início da busca pelo tipo de data (formato: DD/MM/YYYY).","required":false,"type":"string"},{"name":"dtDataFinal","in":"query","description":"Data de fim da busca pelo tipo de data (formato: DD/MM/YYYY).","required":false,"type":"string"},{"name":"tpDocumento","in":"query","description":"Tipo de Documento.","required":false,"type":"string","enum":["Mensagem_Congresso","Decreto_Promulgacao","Decreto_Legislativo","Publicacao_DOU_DAI"]},{"name":"numero","in":"query","description":"Número do documento.","required":false,"type":"integer","format":"int32"},{"name":"dtDocInicial","in":"query","description":"Data de início da busca por documento (formato: DD/MM/YYYY).","required":false,"type":"string"},{"name":"dtDocFinal","in":"query","description":"Data de fim da busca por documento (formato: DD/MM/YYYY).","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/Acordo/pesquisar-acordos":{"post":{"tags":["Acordo"],"summary":"Pesquisar acordos","operationId":"Acordo_PesquisarAcordos","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"parametro","in":"body","description":"O objeto do acordo","required":true,"schema":{"$ref":"#/definitions/ParametroPesquisa"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Acordo/pesquisar-acordos-simples":{"post":{"tags":["Acordo"],"summary":"Pesquisar acordos","operationId":"Acordo_PesquisarAcordosSimples","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"parametro","in":"body","description":"O objeto do acordo","required":true,"schema":{"$ref":"#/definitions/ParametroPesquisaSimples"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Acordo/pesquisa-avancada-acordos":{"post":{"tags":["Acordo"],"summary":"Pesquisar acordos","operationId":"Acordo_PesquisaAvancadaAcordos","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"parametro","in":"body","description":"O objeto do acordo","required":true,"schema":{"$ref":"#/definitions/ParametroPesquisaAvancada"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Acordo/listar-detalhe-acordos":{"post":{"tags":["Acordo"],"summary":"Lista de Dados dos acordos","operationId":"Acordo_ListardetalheAcordos","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"parametro","in":"body","description":"O objeto do acordo","required":true,"schema":{"$ref":"#/definitions/ParametroListaDadosAcordos"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Autenticacao/Autenticar":{"post":{"tags":["Autenticacao"],"summary":"Autenticar no Cordilheira e gerar token OAuth Bearer","operationId":"Autenticacao_Autenticar","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","description":"Credenciais (SecretId e SecretClient)","required":true,"schema":{"$ref":"#/definitions/AutenticacaoRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Documento/download/{id}":{"get":{"tags":["Documento"],"summary":"Download do documento do acordo","operationId":"Documento_Download","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"O identificador do documento","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}}},"definitions":{"ParametroPesquisa":{"type":"object","properties":{"TituloAcordo":{"description":"Título do Acordo","type":"string"},"IdAssunto":{"format":"int32","type":"integer"},"IdEnvolvido":{"format":"int32","type":"integer"},"IdVigencia":{"format":"int32","type":"integer"},"DtCelebracaoInicial":{"format":"date-time","type":"string"},"DtCelebracaoFinal":{"format":"date-time","type":"string"},"Pagina":{"format":"int32","type":"integer"},"TamanhoPagina":{"format":"int32","type":"integer"},"TipoAcordo":{"type":"string"}}},"ParametroPesquisaSimples":{"description":"Parâmetros para realizar a pesquisa simples","type":"object","properties":{"TextoAcordo":{"description":"Título ou Corpo do Acordo","type":"string"},"Pagina":{"format":"int32","description":"A página atual","type":"integer"},"TamanhoPagina":{"format":"int32","description":"O tamanho da paginação","type":"integer"},"TipoAcordo":{"description":"O tipo do acordo - BL, TL, ML","type":"string"}}},"ParametroPesquisaAvancada":{"type":"object","properties":{"TituloAcordo":{"description":"Título do Acordo","type":"string"},"TextoAcordo":{"type":"string"},"IdAssunto":{"type":"array","items":{"type":"string"}},"IdEnvolvido":{"type":"array","items":{"type":"string"}},"IdVigencia":{"type":"array","items":{"type":"string"}},"SignatarioBrasil":{"type":"string"},"SignatarioOutraParte":{"type":"string"},"PubDireta":{"type":"boolean"},"PubIndireta":{"type":"boolean"},"AtosPossuiEmendas":{"type":"boolean"},"AtosEmendasOutrosAtos":{"type":"boolean"},"TipoDocumento":{"type":"array","items":{"$ref":"#/definitions/TipoDocumento"}},"TipoData":{"type":"array","items":{"$ref":"#/definitions/TipoData"}},"Pagina":{"format":"int32","type":"integer"},"TamanhoPagina":{"format":"int32","type":"integer"},"TipoAcordo":{"type":"string"},"PaisCelebracao":{"type":"string"},"LocalCelebracao":{"type":"string"}}},"TipoDocumento":{"type":"object","properties":{"IdTipoDocumento":{"format":"int32","type":"integer"},"DataInicial":{"format":"date-time","type":"string"},"DataFinal":{"format":"date-time","type":"string"},"Numero":{"type":"string"}}},"TipoData":{"type":"object","properties":{"IdTipoData":{"format":"int32","type":"integer"},"DataInicial":{"format":"date-time","type":"string"},"DataFinal":{"format":"date-time","type":"string"}}},"ParametroListaDadosAcordos":{"type":"object","properties":{"TipoDocumento":{"type":"array","items":{"$ref":"#/definitions/TipoDocumento"}},"TipoData":{"type":"array","items":{"$ref":"#/definitions/TipoData"}},"TipoAcordo":{"description":"Tipo de acordo : BL - Bilateral | TL - Trilateral | ML - Multilateral | T - Todos","type":"string"},"PalavraChave":{"type":"string"}}},"AutenticacaoRequestDto":{"description":"DTO para requisição de autenticação no Cordilheira","type":"object","properties":{"SecretId":{"description":"Secret ID para autenticação","type":"string"},"SecretClient":{"description":"Secret Client para autenticação","type":"string"}}}},"securityDefinitions":{"Bearer":{"type":"apiKey","description":"⚠️ OBRIGATÓRIO: Digite com 'Bearer'. \n\nFormato: Bearer {token}\n\nExemplo: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...\n\nObtenha o token: POST /Autenticacao/Autenticar","name":"Authorization","in":"header"}}}